body {
    margin: 0px;
}

.grid {
    border: 1px solid gray;
    width: 256px;
    height: 256px
}

.pixel {
    width: 32px;
    height: 32px;
    float: left;
}

.palette {
    width: 256px;
}

.color {
    min-width: 32px;
    min-height: 32px;
    float: left;
}

.checked {
    border: 2px solid;
    min-width: 28px !important;
    min-height: 28px !important;
}